.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  scroll-behavior: smooth;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Light Colors */
:root {
  --background-color: linear-gradient(to bottom, #638488, #07292d); 
  --background-color-2: #ffffff;
  --background-color-3: linear-gradient(to bottom, #ffffff, #e3ecfb);
  --background-color-5: linear-gradient(to bottom, #638488, #07292d);
  --background-color-card: rgba(255, 255, 255, 0.64);
  --icon-color: #e0e0e0; 
  --text-color: #07292d;
  --text-color-2: #e0e0e0;
}

.text{
  color: var(--text-color);
}
.TextWithbackgroungDark{
  color: var(--text-color-2);
}
.icon{
  color: var(--icon-color);
}
.main{
  background: var(--background-color);
  height:98vh;
  padding-top: 80px;
}
.aboutSection{
  background-color: var(--background-color-2);
  min-height: 74vh;
  padding: 3rem 0;
  padding-top: 100px;
}
.projectsSection{
  background: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  padding-top: 100px
}

.contactSection{
  min-height: 40vh;
  background-color: var(--background-color);
}
.contact-icons {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: var(--background-color-card) !important;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon-box:hover {
  transform: scale(1.2);
}

.icon-box:hover .icon,
.icon-box:hover .icon-text {
  color: #89a8ab;
}

.icon {
  font-size: 40px;
  color: #07292d;
  transition: all 0.3s ease-in-out;
}

.icon-text {
  color: #07292d;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  color: #07292d;
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(4px);
  }
}
.bounce-arrow {
  animation: bounce 2s infinite;
}

.light-icon {
  font-size: 32px;
  color: white;
}
/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    padding: 1erm 1rem !important;
  }
  .nav-link{
    font-size: 14px !important;
    margin-right: 0.5rem;
  }
  .icon-btn{
    padding: 4px !important;
    font-size: 15px !important;
  }
  #avatarImg{
    width: 190px !important;
    height: 190px !important;
  }
}